/*
Down With Destruction Gaming Community
Site Copyright 2008 ©
*/
/* 
    Created on : Dec 22, 2013, 3:12:55 PM
    Author     : madmac
*/

body {
    margin: 0;
    padding: 0;
}
header {
    margin: 5px 0;
}
.iconLogo h1 {
    color: white;
}
div#topNaviBar {
    background-color: black;
    background-image: -webkit-linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0));
}
div#topNaviBar * {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100.01%;
    font-family: inherit;
    vertical-align: baseline;
    outline: 0;
    list-style: none outside none;
    text-decoration: none;
}
#wrapper {
    width: 900px;
    margin:0 auto;
    background-color:#00FF00;
}
#container {
    height:auto;
    margin:0 auto;
    padding:0 0 20px;
    width:751px;
    background-color:#00FFFF;
}
#slideshow {
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #888888;
    background-color:#FF0000;
}
div.topNavi ul li .icon-announcements {
    background-image: url("/img/glyphicons-halflings.png");
    background-position: 0px -22px;
    background-repeat: no-repeat;
    display: inline;
    height: 13px;
    width: 14px;
    margin-right: 2px !important;
}
li {
    float: left;
}
